<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>
  <div class="align-right row">
         <% if user_signed_in? %>     
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-outline-light btn-defualt"%>
          <% else %>
            <%= button_to "Sign in", new_user_session_path, method: :get, :class => "btn btn-outline-light btn-default" %>
            <%= button_to "Sign up", new_user_registration_path, method: :get, :class => "btn btn-outline-light btn-defualt" %>
          <% end %>
        </div>
    <%= yield %>
  </body>
</html>
